# FIREBASE CONFIG (ADMIN SDK)
FIREBASE_PROJECT_ID=my-dental-clinic-wl
FIREBASE_CLIENT_EMAIL=your-service-account@...
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n..."

# NOTIFICATIONS CONFIG
ADMIN_EMAIL=your-admin@example.com
SMTP_USER=your-gmail@gmail.com
SMTP_PASS=your-gmail-app-password
